*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

fieldset{
    border: 0;
    padding: 0;
}

ul{
    padding: 0;
    list-style: none;
    li{
        &:before{
            content: '•';
            display: inline-block;
            margin-right: 8px;
        }
    }
}

.flexslider{
    margin-bottom: 0;
    background: none;
    border: 0;
    li{
        &:before{
            display: none;
        }
    }
}
.flex-direction-nav a{
    height: 45px;
}

.flex-direction-nav .flex-prev {
    opacity: 1;
    left: 0px !important;
    text-align: left;
}

.flex-direction-nav .flex-next {
    opacity: 1;
    right: 0px !important;
    text-align: right;
}

.flex-direction-nav a::before{
    color: #d9d9d9;
    font-family: FontAwesome;
    content: "\f104";
}

.flex-direction-nav a.flex-next::before{
    content: "\f105";
}