.singlePost{
    padding: 10px 0 30px 0;
    .container{
        padding: 0;
        @media(min-width: 768px){
            padding: 0 15px;
            display: flex;
            align-items: flex-start;
            justify-content: space-around;
        }
    }
    .singlePostImage{
        position: relative;
        @include aspect-ratio(300, 250);
        background-size: cover;
        background-position: center center;
        margin-bottom: 30px;
        .content{
            position: relative;
            z-index: 1;
            display: flex;
            align-items: flex-end;
            @media(min-width: 768px){
                align-items: flex-start;
            }
        }
        &:after{
            content: '';
            display: block;
            position: absolute;
            z-index: 0;
            width: 100%;
            height: 100%;
            top: 0;
            left:0;
            background: linear-gradient(to bottom,  rgba(100,86,97,0.15) 0%,rgba(247,147,57,0.65) 100%); 
            
        }
        @media(min-width: 768px){
            @include aspect-ratio(510, 470);
            width: 55%;
            float: left;
            margin-right: 30px;
            margin-bottom: 30px;
            border-radius: 5px;
        }
    }
    .singlePostText{
        padding: 0 15px;
        max-width: 940px;
        h1{
            margin-top: 0;
            color: #645661;
            font-size: 28px;
            text-align: left;
            font-family: $aglet;
            &:after{
                //margin: 15px 0;
            }
            @media(min-width: 768px){
                font-size: 36px;
            }
        }
        .singlePostTextInfo{
            font-family: $aglet;
            margin-bottom: 30px;
            .singlePostTextInfoDate{
                display: inline-block;
                font-size: 16px;
            }
            .singlePostTextInfoCategory{
                display: inline-block;
                margin-left: 20px;
                font-size: 18px;
            }
        }
        .singlePostTextCopy{
            color: #867b84;
            font-family: $open;
            font-size: 13px;
            font-weight: 400;
            .singlePostTextCopyAppend{
                margin-top: 30px;
                .postNav{
                    font-family: $aglet;
                    color: #645661;
                    font-weight: 600;
                    font-size: 16px;
                    a{
                        color: inherit;
                        text-decoration: none;
                    }
                    .previous_post_link{
                        float: left;
                    }
                    .next_post_link{
                        float: right;
                        margin-left: 15px;;
                    }
                }
                .shareLinks{
                    color: #f79339;
                    font-family: $aglet;
                    text-align: center;
                    clear: both;
                    padding-top: 30px;
                    i{
                        font-size: 18px;
                    }
                    a{
                        display: inline-block;
                        margin: 0 2px;
                        color: inherit;
                    }
                    @media(min-width: 1024px){
                        padding: 0;
                    }
                }
                @media(min-width: 1024px){
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
            }
        }
        
        @media(min-width: 768px){
            //width: 45%;
            padding: 0;
        }
    }
    @media(min-width: 768px){
        padding: 80px 0;
    }
}